.lead__img {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  object-fit: cover;
}

@media (min-width: 1024px) {
  .lead__img {
    padding: 0 48px;
  }
}

@media (min-width: 1280px) {
  .lead__img {
    padding: 0 148px;
  }
}
