.intro__title{
  margin: 0 0 40px;
  padding: 0;
  color: #FFFFFF;
  font-weight: 900;
  font-size: 32px;
  line-height: 35px;
}

@media (min-width:768px){
  .intro__title{
    font-size: 54px;
    line-height: 58px;
  }
}